# Author: Spencer Buckner & Robb Herndon & Casey Liu

In [70]:
import pandas as pd

In [71]:
df = pd.read_csv('Data/world happiness data.csv')
df.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Deaths - Conflict and terrorism,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,...,0.035288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df = df.drop(columns = ['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 
                   'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'])

In [73]:
df.shape

(470, 16)

In [74]:
df = df.drop(columns = ['Happiness Rank'])

In [75]:
df['Year'].value_counts()

2015    158
2016    157
2017    155
Name: Year, dtype: int64

In [76]:
df.columns = [c.replace(' ', '_').lower() for c in df.columns]

In [77]:
df.head()

,country,region,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
0,Switzerland,Western Europe,2015,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,3460.0,10.364,0.030155,0.000000
1,Iceland,Western Europe,2015,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,3548.0,12.933,0.021300,0.000000
2,Denmark,Western Europe,2015,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3315.0,10.411,0.071516,0.035288
3,Norway,Western Europe,2015,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,3435.0,11.397,0.065375,0.000000
4,Canada,North America,2015,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,3438.0,10.710,0.068045,0.000000

In [78]:
df.isnull().sum()

country                                            0
region                                             0
year                                               0
happiness_score                                    0
economy_(gdp_per_capita)                           0
family                                             0
health_(life_expectancy)                           0
freedom                                            0
trust_(government_corruption)                      0
generosity                                         0
dystopia_residual                                  0
food_supply_(kcal/capita/day)                     49
crude_birth_rate_(births_per_1,000_population)    18
deaths_-_unsafe_water_source_per_100k_people      21
deaths_-_conflict_and_terrorism                   21
dtype: int64

In [79]:
#['food_supply_(kcal/capita/day)']
df.groupby('region').mean()['food_supply_(kcal/capita/day)'].loc['Eastern Asia']

2984.777777777778

# Thought process for this section:
 - Check for which regions have nulls in the 'food_supply_(kcal/capita/day)' column
 - Create list of those regions
 - Create for loop to fill each regions nulls with the mean of the values for that region

## Food Supply

In [80]:
df[df['food_supply_(kcal/capita/day)'].isnull()]

,country,region,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
23,Bahrain,Middle East and Northern Africa,2015,5.960,1.323760,1.216240,0.747160,0.454920,0.306000,0.173620,1.737970,NaN,15.096,0.821350,0.348551
27,Bahrain,Middle East and Northern Africa,2016,6.218,1.440240,0.943970,0.656960,0.473750,0.257720,0.171470,2.274050,NaN,14.738,0.796698,0.068823
30,Bahrain,Middle East and Northern Africa,2017,6.087,1.488412,1.323110,0.653133,0.536747,0.172668,0.257042,1.656149,NaN,14.365,0.780886,0.748110
48,Bhutan,Southern Asia,2015,5.253,0.770420,1.103950,0.574070,0.532060,0.154450,0.479980,1.637940,NaN,17.783,17.689120,0.000000
62,Bhutan,Southern Asia,2016,5.196,0.852700,0.908360,0.497590,0.460740,0.161600,0.485460,1.829160,NaN,17.625,16.813895,0.000000
65,Bhutan,Southern Asia,2017,5.011,0.885416,1.340127,0.495879,0.501538,0.474055,0.173380,1.140184,NaN,17.459,16.625246,0.000000
68,Burundi,Sub-Saharan Africa,2015,2.905,0.015300,0.415870,0.223960,0.118500,0.100620,0.197270,1.833020,NaN,40.883,72.736138,6.429707
78,Burundi,Sub-Saharan Africa,2016,2.905,0.068310,0.234420,0.157470,0.043200,0.094190,0.202900,2.104040,NaN,40.278,71.251349,3.468702
90,Burundi,Sub-Saharan Africa,2017,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,NaN,39.646,70.882339,2.173232
92,Comoros,Sub-Saharan Africa,2015,3.956,0.239060,0.792730,0.363150,0.229170,0.199000,0.174410,1.958120,NaN,33.328,48.346467,0.000000
100,Comoros,Sub-Saharan Africa,2016,3.956,0.275090,0.603230,0.299810,0.154120,0.184370,0.182700,2.256320,NaN,32.852,47.141895,0.000000
107,Congo (Brazzaville),Sub-Saharan Africa,2015,3.989,0.678660,0.662900,0.310510,0.414660,0.116860,0.123880,1.681350,NaN,NaN,NaN,NaN
119,Congo (Brazzaville),Sub-Saharan Africa,2016,4.236,0.771090,0.477990,0.282120,0.379380,0.097530,0.120770,2.106810,NaN,NaN,NaN,NaN
138,Congo (Brazzaville),Sub-Saharan Africa,2017,4.291,0.808964,0.832044,0.289957,0.435026,0.120852,0.079618,1.724136,NaN,NaN,NaN,NaN
139,Congo (Kinshasa),Sub-Saharan Africa,2015,4.517,0.000000,1.001200,0.098060,0.226050,0.076250,0.248340,2.867120,NaN,NaN,NaN,NaN
150,Congo (Kinshasa),Sub-Saharan Africa,2016,4.272,0.056610,0.806760,0.188000,0.156020,0.060750,0.254580,2.749240,NaN,NaN,NaN,NaN
155,Congo (Kinshasa),Sub-Saharan Africa,2017,4.280,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959,NaN,NaN,NaN,NaN
219,Kosovo,Central and Eastern Europe,2015,5.589,0.801480,0.811980,0.631320,0.247490,0.047410,0.283100,2.765790,NaN,NaN,NaN,NaN
224,Kosovo,Central and Eastern Europe,2016,5.401,0.901450,0.660620,0.540000,0.143960,0.065470,0.279920,2.809980,NaN,NaN,NaN,NaN
233,Kosovo,Central and Eastern Europe,2017,5.279,0.951484,1.137854,0.541452,0.260288,0.319931,0.057472,2.010541,NaN,NaN,NaN,NaN
234,Libya,Middle East and Northern Africa,2015,5.754,1.131450,1.118620,0.703800,0.416680,0.110230,0.182950,2.090660,NaN,20.465,0.825022,0.757978
241,Libya,Middle East and Northern Africa,2016,5.615,1.066880,0.950760,0.523040,0.406720,0.103390,0.170870,2.393740,NaN,19.935,0.811217,26.832524
252,Libya,Middle East and Northern Africa,2017,5.525,1.101803,1.357564,0.520169,0.465733,0.152074,0.092610,1.835011,NaN,19.380,0.810241,22.073492
254,Macedonia,Central and Eastern Europe,2015,5.007,0.918510,1.002320,0.735450,0.334570,0.053270,0.223590,1.739330,NaN,NaN,NaN,NaN
265,Macedonia,Central and Eastern Europe,2016,5.121,1.019300,0.782360,0.647380,0.276680,0.070470,0.235070,2.089470,NaN,NaN,NaN,NaN
282,Macedonia,Central and Eastern Europe,2017,5.175,1.064578,1.207893,0.644948,0.325906,0.253761,0.060278,1.617469,NaN,NaN,NaN,NaN
284,North Cyprus,Western Europe,2015,5.695,1.208060,1.070080,0.923560,0.490270,0.142800,0.261690,1.598880,NaN,NaN,NaN,NaN
295,North Cyprus,Western Europe,2016,5.771,1.311410,0.818260,0.841420,0.435960,0.165780,0.263220,1.934470,NaN,NaN,NaN,NaN
296,North Cyprus,Western Europe,2017,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,NaN,NaN,NaN,NaN
300,Palestinian Territories,Middle East and Northern Africa,2015,4.715,0.598670,0.925580,0.660150,0.244990,0.129050,0.112510,2.043840,NaN,31.246,0.847289,5.933968
313,Palestinian Territories,Middle East and Northern Africa,2016,4.754,0.670240,0.716290,0.568440,0.177440,0.106130,0.111540,2.403640,NaN,30.572,0.792172,4.180543
314,Palestinian Territories,Middle East and Northern Africa,2017,4.775,0.716249,1.155647,0.565667,0.254711,0.114173,0.089283,1.878890,NaN,29.905,0.794838,2.638035
337,Puerto Rico,Latin America and Caribbean,2016,7.039,1.359430,1.081130,0.777580,0.468230,0.122750,0.222020,3.007600,NaN,8.287,0.823593,0.000000
340,Qatar,Middle East and Northern Africa,2015,6.611,1.690420,1.078600,0.797330,0.640400,0.522080,0.325730,1.556740,NaN,10.033,0.173947,0.000000
349,Qatar,Middle East and Northern Africa,2016,6.375,1.824270,0.879640,0.717230,0.566790,0.480490,0.323880,1.582240,NaN,9.862,0.164655,0.000000
355,Qatar,Middle East and Northern Africa,2017,6.375,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464,NaN,9.698,0.160811,0.000000
375,Singapore,Southeastern Asia,2015,6.798,1.521860,1.020000,1.025250,0.542520,0.492100,0.311050,1.885010,NaN,9.122,0.038933,0.000000
382,Singapore,Southeastern Asia,2016,6.739,1.645550,0.867580,0.947190,0.487700,0.469870,0.327060,1.993750,NaN,8.979,0.038073,0.000000
392,Singapore,Southeastern Asia,2017,6.572,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362,NaN,8.845,0.033021,0.000000
406,Somalia,Sub-Saharan Africa,2016,5.440,0.000000,0.336130,0.114660,0.567780,0.311800,0.272250,3.837720,NaN,42.096,76.072831,15.800493
407,Somalia,Sub-Saharan Africa,2017,5.151,0.022643,0.721151,0.113989,0.602127,0.291631,0.282410,3.117485,NaN,41.919,75.095591,32.256318
411,Somaliland region,Sub-Saharan Africa,2015,5.057,0.188470,0.951520,0.438730,0.465820,0.399280,0.503180,2.110320,NaN,NaN,NaN,NaN
417,Somaliland Region,Sub-Saharan Africa,2016,5.057,0.255580,0.758620,0.331080,0.391300,0.367940,0.514790,2.438010,NaN,NaN,NaN,NaN
438,South Sudan,Sub-Saharan Africa,2016,3.832,0.393940,0.185190,0.157810,0.196620,0.130150,0.258990,2.509290,NaN,35.738,120.259413,16.131650
440,South Sudan,Sub-Saharan Africa,2017,3.591,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567,NaN,35.370,118.420043,42.500631
442,Swaziland,Sub-Saharan Africa,2015,4.867,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,NaN,NaN,NaN,NaN
461,Syria,Middle East and Northern Africa,2015,3.006,0.663200,0.474890,0.721930,0.156840,0.189060,0.471790,0.328580,NaN,24.950,0.237059,304.473235
466,Syria,Middle East and Northern Africa,2016,3.069,0.747190,0.148660,0.629940,0.069120,0.172330,0.483970,0.817890,NaN,24.525,0.230011,308.409636
468,Syria,Middle East and Northern Africa,2017,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,NaN,24.115,0.226669,228.216333

 ### Regions with nulls in food supply column
 1. Middle East and Northern Africa 
 2. Southern Asia
 3. Sub-Saharan Africa
 4. Central and Eastern Europe
 5. Western Europe
 6. Latin America and Caribbean
 7. Southeastern Asia

In [87]:
regions = ['Middle East and Northern Africa', 'Southern Asia', 'Sub-Saharan Africa', 
            'Central and Eastern Europe', 'Western Europe', 'Latin America and Caribbean',
           'Southeastern Asia', 'Australia and New Zealand', 'Eastern Asia', 'North America']

In [81]:
# df.loc[(df['region'] == 'Middle East and Northern Africa') & (df['food_supply_(kcal/capita/day)'].isnull()), 'food_supply_(kcal/capita/day)'] = df.loc[(df['region'] == 'Middle East and Northern Africa'), 'food_supply_(kcal/capita/day)'].mean()

# This was test code we used in the for loop below

In [88]:
for i in regions:
    df.loc[(df['region'] == i) & (df['food_supply_(kcal/capita/day)'].isnull()), 'food_supply_(kcal/capita/day)'] = df.loc[(df['region'] == i), 'food_supply_(kcal/capita/day)'].mean()

In [89]:
df.isnull().sum()

country                                            0
region                                             0
year                                               0
happiness_score                                    0
economy_(gdp_per_capita)                           0
family                                             0
health_(life_expectancy)                           0
freedom                                            0
trust_(government_corruption)                      0
generosity                                         0
dystopia_residual                                  0
food_supply_(kcal/capita/day)                      0
crude_birth_rate_(births_per_1,000_population)    18
deaths_-_unsafe_water_source_per_100k_people      21
deaths_-_conflict_and_terrorism                   21
dtype: int64

## Crude Birth Rate

In [45]:
df[df['crude_birth_rate_(births_per_1,000_population)'].isnull()]

,country,region,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
107,Congo (Brazzaville),Sub-Saharan Africa,2015,3.989,0.678660,0.662900,0.310510,0.414660,0.116860,0.123880,1.681350,NaN,NaN,NaN,NaN
119,Congo (Brazzaville),Sub-Saharan Africa,2016,4.236,0.771090,0.477990,0.282120,0.379380,0.097530,0.120770,2.106810,NaN,NaN,NaN,NaN
138,Congo (Brazzaville),Sub-Saharan Africa,2017,4.291,0.808964,0.832044,0.289957,0.435026,0.120852,0.079618,1.724136,NaN,NaN,NaN,NaN
139,Congo (Kinshasa),Sub-Saharan Africa,2015,4.517,0.000000,1.001200,0.098060,0.226050,0.076250,0.248340,2.867120,NaN,NaN,NaN,NaN
150,Congo (Kinshasa),Sub-Saharan Africa,2016,4.272,0.056610,0.806760,0.188000,0.156020,0.060750,0.254580,2.749240,NaN,NaN,NaN,NaN
155,Congo (Kinshasa),Sub-Saharan Africa,2017,4.280,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959,NaN,NaN,NaN,NaN
219,Kosovo,Central and Eastern Europe,2015,5.589,0.801480,0.811980,0.631320,0.247490,0.047410,0.283100,2.765790,NaN,NaN,NaN,NaN
224,Kosovo,Central and Eastern Europe,2016,5.401,0.901450,0.660620,0.540000,0.143960,0.065470,0.279920,2.809980,NaN,NaN,NaN,NaN
233,Kosovo,Central and Eastern Europe,2017,5.279,0.951484,1.137854,0.541452,0.260288,0.319931,0.057472,2.010541,NaN,NaN,NaN,NaN
254,Macedonia,Central and Eastern Europe,2015,5.007,0.918510,1.002320,0.735450,0.334570,0.053270,0.223590,1.739330,NaN,NaN,NaN,NaN
265,Macedonia,Central and Eastern Europe,2016,5.121,1.019300,0.782360,0.647380,0.276680,0.070470,0.235070,2.089470,NaN,NaN,NaN,NaN
282,Macedonia,Central and Eastern Europe,2017,5.175,1.064578,1.207893,0.644948,0.325906,0.253761,0.060278,1.617469,NaN,NaN,NaN,NaN
284,North Cyprus,Western Europe,2015,5.695,1.208060,1.070080,0.923560,0.490270,0.142800,0.261690,1.598880,NaN,NaN,NaN,NaN
295,North Cyprus,Western Europe,2016,5.771,1.311410,0.818260,0.841420,0.435960,0.165780,0.263220,1.934470,NaN,NaN,NaN,NaN
296,North Cyprus,Western Europe,2017,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,NaN,NaN,NaN,NaN
411,Somaliland region,Sub-Saharan Africa,2015,5.057,0.188470,0.951520,0.438730,0.465820,0.399280,0.503180,2.110320,NaN,NaN,NaN,NaN
417,Somaliland Region,Sub-Saharan Africa,2016,5.057,0.255580,0.758620,0.331080,0.391300,0.367940,0.514790,2.438010,NaN,NaN,NaN,NaN
442,Swaziland,Sub-Saharan Africa,2015,4.867,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,NaN,NaN,NaN,NaN

### Regions with nulls for crude birthrate
1. Sub-Saharan Africa 
2. Central and Eastern Europe
3. Western Europe

In [90]:
for i in regions:
    df.loc[(df['region'] == i) & (df['crude_birth_rate_(births_per_1,000_population)'].isnull()), 'crude_birth_rate_(births_per_1,000_population)'] = df.loc[(df['region'] == i), 'crude_birth_rate_(births_per_1,000_population)'].mean()

In [91]:
df.isnull().sum()

country                                            0
region                                             0
year                                               0
happiness_score                                    0
economy_(gdp_per_capita)                           0
family                                             0
health_(life_expectancy)                           0
freedom                                            0
trust_(government_corruption)                      0
generosity                                         0
dystopia_residual                                  0
food_supply_(kcal/capita/day)                      0
crude_birth_rate_(births_per_1,000_population)     0
deaths_-_unsafe_water_source_per_100k_people      21
deaths_-_conflict_and_terrorism                   21
dtype: int64

## Deaths - Unsafe Water Source

In [46]:
df[df['deaths_-_unsafe_water_source_per_100k_people'].isnull()]

,country,region,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
71,Hong Kong,Eastern Asia,2015,5.474,1.386040,1.058180,1.013280,0.596080,0.371240,0.394780,0.654290,3308.0,10.917,NaN,NaN
107,Congo (Brazzaville),Sub-Saharan Africa,2015,3.989,0.678660,0.662900,0.310510,0.414660,0.116860,0.123880,1.681350,NaN,NaN,NaN,NaN
119,Congo (Brazzaville),Sub-Saharan Africa,2016,4.236,0.771090,0.477990,0.282120,0.379380,0.097530,0.120770,2.106810,NaN,NaN,NaN,NaN
138,Congo (Brazzaville),Sub-Saharan Africa,2017,4.291,0.808964,0.832044,0.289957,0.435026,0.120852,0.079618,1.724136,NaN,NaN,NaN,NaN
139,Congo (Kinshasa),Sub-Saharan Africa,2015,4.517,0.000000,1.001200,0.098060,0.226050,0.076250,0.248340,2.867120,NaN,NaN,NaN,NaN
150,Congo (Kinshasa),Sub-Saharan Africa,2016,4.272,0.056610,0.806760,0.188000,0.156020,0.060750,0.254580,2.749240,NaN,NaN,NaN,NaN
155,Congo (Kinshasa),Sub-Saharan Africa,2017,4.280,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959,NaN,NaN,NaN,NaN
219,Kosovo,Central and Eastern Europe,2015,5.589,0.801480,0.811980,0.631320,0.247490,0.047410,0.283100,2.765790,NaN,NaN,NaN,NaN
224,Kosovo,Central and Eastern Europe,2016,5.401,0.901450,0.660620,0.540000,0.143960,0.065470,0.279920,2.809980,NaN,NaN,NaN,NaN
232,Hong Kong,Eastern Asia,2016,5.458,1.510700,0.870210,0.952770,0.480790,0.316470,0.400970,0.926140,3309.0,11.024,NaN,NaN
233,Kosovo,Central and Eastern Europe,2017,5.279,0.951484,1.137854,0.541452,0.260288,0.319931,0.057472,2.010541,NaN,NaN,NaN,NaN
254,Macedonia,Central and Eastern Europe,2015,5.007,0.918510,1.002320,0.735450,0.334570,0.053270,0.223590,1.739330,NaN,NaN,NaN,NaN
265,Macedonia,Central and Eastern Europe,2016,5.121,1.019300,0.782360,0.647380,0.276680,0.070470,0.235070,2.089470,NaN,NaN,NaN,NaN
282,Macedonia,Central and Eastern Europe,2017,5.175,1.064578,1.207893,0.644948,0.325906,0.253761,0.060278,1.617469,NaN,NaN,NaN,NaN
284,North Cyprus,Western Europe,2015,5.695,1.208060,1.070080,0.923560,0.490270,0.142800,0.261690,1.598880,NaN,NaN,NaN,NaN
295,North Cyprus,Western Europe,2016,5.771,1.311410,0.818260,0.841420,0.435960,0.165780,0.263220,1.934470,NaN,NaN,NaN,NaN
296,North Cyprus,Western Europe,2017,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,NaN,NaN,NaN,NaN
385,Hong Kong,Eastern Asia,2017,5.472,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633,3358.0,11.088,NaN,NaN
411,Somaliland region,Sub-Saharan Africa,2015,5.057,0.188470,0.951520,0.438730,0.465820,0.399280,0.503180,2.110320,NaN,NaN,NaN,NaN
417,Somaliland Region,Sub-Saharan Africa,2016,5.057,0.255580,0.758620,0.331080,0.391300,0.367940,0.514790,2.438010,NaN,NaN,NaN,NaN
442,Swaziland,Sub-Saharan Africa,2015,4.867,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,NaN,NaN,NaN,NaN

### Regions with nulls for unsafe water source
1. Sub-Saharan Africa
2. Eastern Asia
3. Central and Eastern Europe
4. Western Europe

In [92]:
for i in regions:
    df.loc[(df['region'] == i) & (df['deaths_-_unsafe_water_source_per_100k_people'].isnull()), 'deaths_-_unsafe_water_source_per_100k_people'] = df.loc[(df['region'] == i), 'deaths_-_unsafe_water_source_per_100k_people'].mean()

In [93]:
df.isnull().sum()

country                                            0
region                                             0
year                                               0
happiness_score                                    0
economy_(gdp_per_capita)                           0
family                                             0
health_(life_expectancy)                           0
freedom                                            0
trust_(government_corruption)                      0
generosity                                         0
dystopia_residual                                  0
food_supply_(kcal/capita/day)                      0
crude_birth_rate_(births_per_1,000_population)     0
deaths_-_unsafe_water_source_per_100k_people       0
deaths_-_conflict_and_terrorism                   21
dtype: int64

## Deaths - Conflict and Terrorism

In [47]:
df[df['deaths_-_conflict_and_terrorism'].isnull()]

,country,region,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
71,Hong Kong,Eastern Asia,2015,5.474,1.386040,1.058180,1.013280,0.596080,0.371240,0.394780,0.654290,3308.0,10.917,NaN,NaN
107,Congo (Brazzaville),Sub-Saharan Africa,2015,3.989,0.678660,0.662900,0.310510,0.414660,0.116860,0.123880,1.681350,NaN,NaN,NaN,NaN
119,Congo (Brazzaville),Sub-Saharan Africa,2016,4.236,0.771090,0.477990,0.282120,0.379380,0.097530,0.120770,2.106810,NaN,NaN,NaN,NaN
138,Congo (Brazzaville),Sub-Saharan Africa,2017,4.291,0.808964,0.832044,0.289957,0.435026,0.120852,0.079618,1.724136,NaN,NaN,NaN,NaN
139,Congo (Kinshasa),Sub-Saharan Africa,2015,4.517,0.000000,1.001200,0.098060,0.226050,0.076250,0.248340,2.867120,NaN,NaN,NaN,NaN
150,Congo (Kinshasa),Sub-Saharan Africa,2016,4.272,0.056610,0.806760,0.188000,0.156020,0.060750,0.254580,2.749240,NaN,NaN,NaN,NaN
155,Congo (Kinshasa),Sub-Saharan Africa,2017,4.280,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959,NaN,NaN,NaN,NaN
219,Kosovo,Central and Eastern Europe,2015,5.589,0.801480,0.811980,0.631320,0.247490,0.047410,0.283100,2.765790,NaN,NaN,NaN,NaN
224,Kosovo,Central and Eastern Europe,2016,5.401,0.901450,0.660620,0.540000,0.143960,0.065470,0.279920,2.809980,NaN,NaN,NaN,NaN
232,Hong Kong,Eastern Asia,2016,5.458,1.510700,0.870210,0.952770,0.480790,0.316470,0.400970,0.926140,3309.0,11.024,NaN,NaN
233,Kosovo,Central and Eastern Europe,2017,5.279,0.951484,1.137854,0.541452,0.260288,0.319931,0.057472,2.010541,NaN,NaN,NaN,NaN
254,Macedonia,Central and Eastern Europe,2015,5.007,0.918510,1.002320,0.735450,0.334570,0.053270,0.223590,1.739330,NaN,NaN,NaN,NaN
265,Macedonia,Central and Eastern Europe,2016,5.121,1.019300,0.782360,0.647380,0.276680,0.070470,0.235070,2.089470,NaN,NaN,NaN,NaN
282,Macedonia,Central and Eastern Europe,2017,5.175,1.064578,1.207893,0.644948,0.325906,0.253761,0.060278,1.617469,NaN,NaN,NaN,NaN
284,North Cyprus,Western Europe,2015,5.695,1.208060,1.070080,0.923560,0.490270,0.142800,0.261690,1.598880,NaN,NaN,NaN,NaN
295,North Cyprus,Western Europe,2016,5.771,1.311410,0.818260,0.841420,0.435960,0.165780,0.263220,1.934470,NaN,NaN,NaN,NaN
296,North Cyprus,Western Europe,2017,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,NaN,NaN,NaN,NaN
385,Hong Kong,Eastern Asia,2017,5.472,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633,3358.0,11.088,NaN,NaN
411,Somaliland region,Sub-Saharan Africa,2015,5.057,0.188470,0.951520,0.438730,0.465820,0.399280,0.503180,2.110320,NaN,NaN,NaN,NaN
417,Somaliland Region,Sub-Saharan Africa,2016,5.057,0.255580,0.758620,0.331080,0.391300,0.367940,0.514790,2.438010,NaN,NaN,NaN,NaN
442,Swaziland,Sub-Saharan Africa,2015,4.867,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,NaN,NaN,NaN,NaN

### Regions with nulls for conflict and terrorism
1. Sub-Saharan Africa
2. Eastern Asia
3. Central and Eastern Europe
4. Western Europe

In [94]:
for i in regions:
    df.loc[(df['region'] == i) & (df['deaths_-_conflict_and_terrorism'].isnull()), 'deaths_-_conflict_and_terrorism'] = df.loc[(df['region'] == i), 'deaths_-_conflict_and_terrorism'].mean()

In [95]:
df.isnull().sum()

country                                           0
region                                            0
year                                              0
happiness_score                                   0
economy_(gdp_per_capita)                          0
family                                            0
health_(life_expectancy)                          0
freedom                                           0
trust_(government_corruption)                     0
generosity                                        0
dystopia_residual                                 0
food_supply_(kcal/capita/day)                     0
crude_birth_rate_(births_per_1,000_population)    0
deaths_-_unsafe_water_source_per_100k_people      0
deaths_-_conflict_and_terrorism                   0
dtype: int64

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 15 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   country                                         470 non-null    object
 1   region                                          470 non-null    object
 2   year                                            470 non-null    int64
 3   happiness_score                                 470 non-null    float64
 4   economy_(gdp_per_capita)                        470 non-null    float64
 5   family                                          470 non-null    float64
 6   health_(life_expectancy)                        470 non-null    float64
 7   freedom                                         470 non-null    float64
 8   trust_(government_corruption)                   470 non-null    float64
 9   generosity                                      470 non-null    float64
 10  dystopia_residual                               470 non-null    float64
 11  food_supply_(kcal/capita/day)                   470 non-null    float64
 12  crude_birth_rate_(births_per_1,000_population)  470 non-null    float64
 13  deaths_-_unsafe_water_source_per_100k_people    470 non-null    float64
 14  deaths_-_conflict_and_terrorism                 470 non-null    float64
dtypes: float64(12), int64(1), object(2)
memory usage: 55.2+ KB

In [97]:
df.describe()

,year,happiness_score,economy_(gdp_per_capita),family,health_(life_expectancy),freedom,trust_(government_corruption),generosity,dystopia_residual,food_supply_(kcal/capita/day),"crude_birth_rate_(births_per_1,000_population)",deaths_-_unsafe_water_source_per_100k_people,deaths_-_conflict_and_terrorism
count,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000
mean,2015.993617,5.370728,0.927830,0.990347,0.579968,0.402828,0.175605,0.201426,2.092717,2893.743830,20.530553,17.996545,3.697405
std,0.816907,1.136998,0.415584,0.318707,0.240161,0.150356,0.131909,0.133211,0.565772,444.721231,10.253130,29.591488,24.226374
min,2015.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,1758.000000,7.608000,0.003330,0.000000
25%,2015.000000,4.509000,0.605292,0.793000,0.402301,0.297615,0.075792,0.098303,1.737975,2553.250000,11.030000,0.119114,0.000000
50%,2016.000000,5.282500,0.995439,1.025665,0.630053,0.418347,0.139081,0.181624,2.094640,2913.000000,18.321000,0.907329,0.009117
75%,2017.000000,6.233750,1.252443,1.228745,0.768298,0.516850,0.249839,0.275505,2.455575,3257.250000,29.474500,27.667944,0.200674
max,2017.000000,7.587000,1.870766,1.610574,1.025250,0.669730,0.838075,0.819710,3.837720,3845.000000,47.502000,150.308479,308.409636

### There are several countries with 0 for the score, however, the score is only the extent to which that feature contributes to the calculation of the Happiness Score.

In [101]:
df.to_csv('Data/data_cleaned.csv')